<%- include('partials/header'); -%>

<form  action="/compose" method="POST">
    <label for="Title">Title</label><br>
    <input type="text" name="Title">
    <label for="Content">Content</label><br>   
    <input type="text" name="Content">
    <input type="submit" value="Submit">
</form>

<%- include('partials/footer'); -%>